@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
button{
    padding: 0;
    font-size: inherit;
    border: 0;
    background: none;
    cursor: pointer;
}
/* scroll personnalisé */
*{
    /* firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(26, 8, 90) #fff;
}
/* pour chrome */
*::-webkit-scrollbar{
    width: .2rem;
}
*::-webkit-scrollbar-thumb{
    background-color: #000;
    outline: 0.1rem solid #fff;
}
/* theme */
header h1{
    line-height: 6.5rem;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}
header h1::before{
    content: "\f005";
    margin-right: 1rem;
    color: #ffc107;
    font-family: "fontAwesome";
}
/* lightbox */
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.warning{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    background-color: #fafafafa;
    padding: 1.0rem;
    transform: translate(-50%, -50%);
}
.warning_out{
    position: absolute;
    top: 0;
    left: 0;
    width: 50rem;
    background-color: #fafafafa;
    padding: 1.0rem;
    transform: translate(0, 0);
}
.warning p img{
    display: block;
    width: 100%;

}
.warning h2{
    line-height: 4rem;
    font-weight: 300;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 1rem;
}
.warning .success{
    display: block;
    width: 15rem;
    text-align: center;
    background-color: #ccc;
    margin: 1rem auto 0;
    background-color: #3498db;
    line-height: 4rem;
    color: #fff;
    border-radius: 0.4rem;
}